@import "tailwindcss";

@theme {
  --color-cyan-200: #a5f3fc;
  --color-cyan-500: #06b6d4;
  --color-cyan-900: #164e63;
}

.text-vertical {
  writing-mode: vertical-rl;
}

html,
body,
a,
button,
input,
textarea,
select {
  cursor: none;
}

@keyframes music-bar {

  0%,
  100% {
    height: 20%;
  }

  50% {
    height: 100%;
  }
}

.animate-music-bar {
  animation: music-bar 0.8s ease-in-out infinite;
}